.pth {
  --font-default: "Signika";
}

#ui-bottom #hotbar #hotbar-controls-left, #ui-bottom #hotbar #hotbar-controls-right {
  height: 100%;
  justify-content: end;
  gap: 0px;
}
#ui-bottom #hotbar #hotbar-controls-left .button-small, #ui-bottom #hotbar #hotbar-controls-right .button-small {
  font-size: 12px;
  max-width: 22px;
  max-height: 22px;
}
#ui-bottom #hotbar #hotbar-controls-left .button-wide, #ui-bottom #hotbar #hotbar-controls-right .button-wide {
  width: 36px;
  height: 26px;
}
#ui-bottom #hotbar #hotbar-controls-left .action-buttons, #ui-bottom #hotbar #hotbar-controls-left .next-turn, #ui-bottom #hotbar #hotbar-controls-right .action-buttons, #ui-bottom #hotbar #hotbar-controls-right .next-turn {
  height: -moz-fit-content;
  height: fit-content;
  display: grid;
  margin-top: auto;
  grid-auto-flow: column;
  grid-template-rows: repeat(3, auto);
  direction: rtl;
  transform: rotate(180deg);
}
#ui-bottom #hotbar #hotbar-controls-left .action-buttons .action-button, #ui-bottom #hotbar #hotbar-controls-left .action-buttons .next-turn-button, #ui-bottom #hotbar #hotbar-controls-left .next-turn .action-button, #ui-bottom #hotbar #hotbar-controls-left .next-turn .next-turn-button, #ui-bottom #hotbar #hotbar-controls-right .action-buttons .action-button, #ui-bottom #hotbar #hotbar-controls-right .action-buttons .next-turn-button, #ui-bottom #hotbar #hotbar-controls-right .next-turn .action-button, #ui-bottom #hotbar #hotbar-controls-right .next-turn .next-turn-button {
  width: 36px;
  height: 36px;
  font-size: 20px;
  background-color: #232324;
  color: #9099b6;
  border-color: #0c1f5e;
  border-width: 2px;
  transform: rotate(180deg);
}
#ui-bottom #hotbar #hotbar-controls-left .action-buttons .action-button:hover, #ui-bottom #hotbar #hotbar-controls-left .action-buttons .next-turn-button:hover, #ui-bottom #hotbar #hotbar-controls-left .next-turn .action-button:hover, #ui-bottom #hotbar #hotbar-controls-left .next-turn .next-turn-button:hover, #ui-bottom #hotbar #hotbar-controls-right .action-buttons .action-button:hover, #ui-bottom #hotbar #hotbar-controls-right .action-buttons .next-turn-button:hover, #ui-bottom #hotbar #hotbar-controls-right .next-turn .action-button:hover, #ui-bottom #hotbar #hotbar-controls-right .next-turn .next-turn-button:hover {
  cursor: pointer;
  box-shadow: 0 0 5px 2px #9099b6 inset;
}
#ui-bottom #hotbar #hotbar-controls-left .next-turn, #ui-bottom #hotbar #hotbar-controls-right .next-turn {
  margin-left: 5px;
}
#ui-bottom #hotbar #hotbar-controls-left .next-turn .next-turn-button, #ui-bottom #hotbar #hotbar-controls-right .next-turn .next-turn-button {
  width: 50px;
  height: 50px;
  font-size: 30px;
}
#ui-bottom #hotbar #hotbar-controls-left .next-turn .next-turn-button:hover, #ui-bottom #hotbar #hotbar-controls-right .next-turn .next-turn-button:hover {
  box-shadow: 0 0 8px 3px #9099b6 inset;
}
#ui-bottom #hotbar.token-hotbar {
  height: auto;
  width: -moz-max-content;
  width: max-content;
  opacity: 1;
  transform: none;
}
#ui-bottom #hotbar.token-hotbar #action-bar {
  width: auto;
  display: flex;
  align-items: flex-end;
  gap: 4px;
}
#ui-bottom #hotbar.token-hotbar #action-bar .upper-wrapper {
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 10px;
}
#ui-bottom #hotbar.token-hotbar #action-bar .upper-wrapper.reverse-direction {
  flex-direction: row-reverse;
}
#ui-bottom #hotbar.token-hotbar #action-bar .upper-wrapper.reverse-direction #effects-tracker {
  direction: rtl;
}
#ui-bottom #hotbar.token-hotbar #action-bar .upper-wrapper.reverse-direction #help-tracker {
  direction: ltr;
}
#ui-bottom #hotbar.token-hotbar #action-bar .upper-wrapper.reverse-direction .letter-circle-icon span, #ui-bottom #hotbar.token-hotbar #action-bar .upper-wrapper.reverse-direction .letter-circle-icon i {
  right: -4px;
}
#ui-bottom #hotbar.token-hotbar #action-bar .upper-wrapper #effects-tracker {
  row-gap: 5px;
  -moz-column-gap: 3px;
  column-gap: 3px;
  margin: 0;
  display: grid;
  grid-auto-flow: row;
}
#ui-bottom #hotbar.token-hotbar #action-bar .upper-wrapper .effect-wrapper {
  color: #dbdbdb !important;
}
#ui-bottom #hotbar.token-hotbar #action-bar .upper-wrapper .effect-wrapper strong {
  color: #dbdbdb !important;
}
#ui-bottom #hotbar.token-hotbar #action-bar .upper-wrapper .effect-wrapper ul {
  color: #dbdbdb !important;
}
#ui-bottom #hotbar.token-hotbar #action-bar .upper-wrapper .effect-wrapper .status-stack {
  position: absolute;
  width: 0px;
  height: 0px;
  z-index: 5;
}
#ui-bottom #hotbar.token-hotbar #action-bar .upper-wrapper .effect-wrapper .status-stack .letter-circle-icon {
  position: relative;
  width: 0px;
  height: 0px;
}
#ui-bottom #hotbar.token-hotbar #action-bar .upper-wrapper .effect-wrapper .status-stack .letter-circle-icon span, #ui-bottom #hotbar.token-hotbar #action-bar .upper-wrapper .effect-wrapper .status-stack .letter-circle-icon i {
  width: 17px;
  height: 17px;
  text-shadow: none;
  background-color: #ffffff;
  color: #000000;
  border: 1px solid #000000;
  position: relative;
  top: -6px;
  left: -4px;
  padding: 0px;
}
#ui-bottom #hotbar.token-hotbar #action-bar .upper-wrapper .effect-wrapper .status-stack .letter-circle-icon i {
  font-size: 12px;
}
#ui-bottom #hotbar.token-hotbar #action-bar .upper-wrapper .effect-wrapper .status-stack .letter-circle-icon span {
  font-weight: 100;
  font-size: 14px;
}
#ui-bottom #hotbar.token-hotbar #action-bar .upper-wrapper .effect-wrapper img {
  width: 30px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid #0c1f5e;
  background-color: #232324;
}
#ui-bottom #hotbar.token-hotbar #action-bar .upper-wrapper .effect-wrapper img.off {
  filter: opacity(0.6);
}
#ui-bottom #hotbar.token-hotbar #action-bar .upper-wrapper .effect-wrapper img:hover {
  cursor: pointer;
  box-shadow: 0 0 5px 3px #0c1f5e;
}
#ui-bottom #hotbar.token-hotbar #action-bar .section-wrapper {
  gap: 3px;
  margin: 0px;
  height: -moz-fit-content;
  height: fit-content;
  display: grid;
  grid-auto-flow: column;
}
#ui-bottom #hotbar.token-hotbar #action-bar .section-wrapper .slot {
  width: 50px;
  height: 50px;
  border-radius: 5px;
}
#ui-bottom #hotbar.token-hotbar #action-bar .section-wrapper .slot img {
  border-radius: 4px;
}
#ui-bottom #hotbar.token-hotbar #action-bar .section-wrapper .slot.spell-check {
  border-color: #bd2ed6;
}
#ui-bottom #hotbar.token-hotbar #action-bar .section-wrapper .slot.skill-check {
  border-color: #00a329;
}
#ui-bottom #hotbar.token-hotbar #action-bar .section-wrapper .slot.martial-attack {
  border-color: #b10000;
}
#ui-bottom #hotbar.token-hotbar #action-bar .section-wrapper .slot.spell-attack {
  border-color: #006ec9;
}
#ui-bottom #hotbar.token-hotbar #action-bar .section-wrapper .slot:hover {
  border-color: var(--color-warm-1) !important;
}
#ui-bottom #hotbar.token-hotbar #action-bar .section-wrapper .slot.filter-out {
  filter: opacity(0.6);
}
#ui-bottom #hotbar.token-hotbar #action-bar .section-wrapper .slot.outline img {
  outline-width: 4px;
  outline-offset: -2px;
  outline-color: rgba(255, 255, 255, 0.8);
  outline-style: dashed;
}
#ui-bottom #hotbar.token-hotbar #action-bar .section-wrapper .action-type, #ui-bottom #hotbar.token-hotbar #action-bar .section-wrapper .is-reaction, #ui-bottom #hotbar.token-hotbar #action-bar .section-wrapper .show-charges, #ui-bottom #hotbar.token-hotbar #action-bar .section-wrapper .slot-keybind, #ui-bottom #hotbar.token-hotbar #action-bar .section-wrapper .equipped {
  position: absolute;
  background-color: rgba(59, 59, 59, 0.7607843137);
}
#ui-bottom #hotbar.token-hotbar #action-bar .section-wrapper .action-type {
  font-size: 11px;
  margin-top: 29px;
  border-radius: 0 10px 0 4px;
  padding: 3px;
}
#ui-bottom #hotbar.token-hotbar #action-bar .section-wrapper .slot-keybind {
  text-align: center;
  height: 15px;
  min-width: 15px;
  font-size: 13px;
  font-family: var(--font-default);
  border-radius: 4px 0 5px 0;
  padding-right: 2px;
}
#ui-bottom #hotbar.token-hotbar #action-bar .section-wrapper .is-reaction {
  font-size: 10px;
  margin-left: 28px;
  border-radius: 0 4px 0 10px;
  padding: 2px 3px 4px 5px;
}
#ui-bottom #hotbar.token-hotbar #action-bar .section-wrapper .equipped {
  font-size: 11px;
  margin-left: 30px;
  padding: 2px 3px 4px 5px;
  margin-top: -15px;
  border-radius: 10px 0 4px 0;
  padding-bottom: 2px;
}
#ui-bottom #hotbar.token-hotbar #action-bar .section-wrapper .show-charges {
  text-align: center;
  height: 15px;
  width: 15px;
  font-size: 14px;
  font-family: var(--font-default);
  margin-top: -15px;
  margin-left: 15px;
  border-radius: 10px 10px 0 0;
  padding-bottom: 2px;
}
#ui-bottom #hotbar.token-hotbar #action-bar .portrait-wrapper {
  width: 140px;
  height: 150px;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
#ui-bottom #hotbar.token-hotbar #action-bar .portrait-wrapper .portrait-overlay {
  z-index: 2;
  border: 0;
  width: 100px;
  height: 100px;
  position: absolute;
  margin-left: 20px;
  margin-top: -25px;
  filter: opacity(0.6);
}
#ui-bottom #hotbar.token-hotbar #action-bar .portrait-wrapper .portrait {
  z-index: 1;
  border: 2px solid #000000;
  -o-object-position: 50% 0;
  object-position: 50% 0;
  -o-object-fit: cover;
  object-fit: cover;
  width: 140px;
  height: 140px;
  border-radius: 50% 50% 5px 5px;
}
#ui-bottom #hotbar.token-hotbar #action-bar .portrait-wrapper .resource {
  z-index: 2;
  position: absolute;
  width: 140px;
  bottom: 20px;
  display: flex;
  flex-direction: column;
}
#ui-bottom #hotbar.token-hotbar #action-bar .portrait-wrapper .resource .resource-bar-wrapper {
  color: #000000;
  display: grid;
  grid-template-columns: 20px 1fr 20px;
  border: 1px solid #000000;
  border-radius: 4px;
  background-color: #e4e4e4;
}
#ui-bottom #hotbar.token-hotbar #action-bar .portrait-wrapper .resource .resource-bar-wrapper .regain-resource, #ui-bottom #hotbar.token-hotbar #action-bar .portrait-wrapper .resource .resource-bar-wrapper .spend-resource {
  background-color: transparent;
  width: 20px;
  height: 20px;
  border: 0;
  line-height: 0;
  padding: 0;
  min-height: 20px;
  color: #00a329;
  display: flex;
  align-items: center;
  justify-content: center;
}
#ui-bottom #hotbar.token-hotbar #action-bar .portrait-wrapper .resource .resource-bar {
  height: 20px;
  min-height: 20px;
  position: relative;
  border-radius: 4px;
  border: 1px solid #000000;
}
#ui-bottom #hotbar.token-hotbar #action-bar .portrait-wrapper .resource .resource-bar .resource-content {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#ui-bottom #hotbar.token-hotbar #action-bar .portrait-wrapper .resource .resource-bar .resource-content .resource-values {
  display: flex;
  align-items: center;
}
#ui-bottom #hotbar.token-hotbar #action-bar .portrait-wrapper .resource .resource-bar .resource-content .resource-values .separator {
  font-weight: bold;
  text-align: center;
  color: black;
  text-shadow: -1px 0 #ffffff, 0 1px #ffffff, 1px 0 #ffffff, 0 -1px #ffffff;
}
#ui-bottom #hotbar.token-hotbar #action-bar .portrait-wrapper .resource .resource-bar .resource-content .resource-values .bar-input {
  font-weight: bold;
  background-color: transparent;
  color: black;
  font-size: 16px;
  text-align: center;
  border: 0px;
  text-shadow: -1px 0 #ffffff, 0 1px #ffffff, 1px 0 #ffffff, 0 -1px #ffffff;
}
#ui-bottom #hotbar.token-hotbar #action-bar .portrait-wrapper .resource .resource-bar .health-bar, #ui-bottom #hotbar.token-hotbar #action-bar .portrait-wrapper .resource .resource-bar .health-bar-temp {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  border-radius: 4px;
  background-color: #10d140;
  max-width: 100%;
}
#ui-bottom #hotbar.token-hotbar #action-bar .portrait-wrapper .resource .resource-bar .health-bar-temp {
  background-color: #6195b3;
}
#ui-bottom #hotbar.token-hotbar #action-bar .portrait-wrapper .resource .above-bar {
  gap: 0;
  margin: 0 32px;
  border: 2px solid #000000;
  border-bottom: 0;
  border-radius: 15px 15px 0 0;
  background-color: rgba(90, 90, 90, 0.7254901961);
}
#ui-bottom #hotbar.token-hotbar #action-bar .portrait-wrapper .resource .above-bar .regain-resource, #ui-bottom #hotbar.token-hotbar #action-bar .portrait-wrapper .resource .above-bar .spend-resource {
  padding-top: 2px;
  display: flex;
  justify-content: center;
  min-height: 20px;
}
#ui-bottom #hotbar.token-hotbar #action-bar .portrait-wrapper .resource .above-bar .temporary-hp .temporary-input {
  height: 20px;
  background: transparent;
  border: 0;
  font-weight: bold;
  text-align: center;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  color: #d1d1d1;
  font-size: 18px;
}
#ui-bottom #hotbar.token-hotbar #action-bar .portrait-wrapper .resource .above-bar .temporary-hp .temporary-input::-moz-placeholder {
  color: white;
  font-size: 14px;
  font-weight: normal;
}
#ui-bottom #hotbar.token-hotbar #action-bar .portrait-wrapper .resource .above-bar .temporary-hp .temporary-input::placeholder {
  color: white;
  font-size: 14px;
  font-weight: normal;
}
#ui-bottom #hotbar.token-hotbar #action-bar .portrait-wrapper .resource .above-bar .temporary-max, #ui-bottom #hotbar.token-hotbar #action-bar .portrait-wrapper .resource .above-bar .spend-resource {
  border-left: 1px solid;
}
#ui-bottom #hotbar.token-hotbar #action-bar .portrait-wrapper .resource-left-short, #ui-bottom #hotbar.token-hotbar #action-bar .portrait-wrapper .resource-right-short, #ui-bottom #hotbar.token-hotbar #action-bar .portrait-wrapper .resource-middle, #ui-bottom #hotbar.token-hotbar #action-bar .portrait-wrapper .resource-left, #ui-bottom #hotbar.token-hotbar #action-bar .portrait-wrapper .resource-right, #ui-bottom #hotbar.token-hotbar #action-bar .portrait-wrapper .resource-wide {
  position: relative;
  width: 0;
  height: 0;
  top: -80px;
}
#ui-bottom #hotbar.token-hotbar #action-bar .portrait-wrapper .resource-left-short input, #ui-bottom #hotbar.token-hotbar #action-bar .portrait-wrapper .resource-right-short input, #ui-bottom #hotbar.token-hotbar #action-bar .portrait-wrapper .resource-middle input, #ui-bottom #hotbar.token-hotbar #action-bar .portrait-wrapper .resource-left input, #ui-bottom #hotbar.token-hotbar #action-bar .portrait-wrapper .resource-right input, #ui-bottom #hotbar.token-hotbar #action-bar .portrait-wrapper .resource-wide input {
  position: relative;
  background-color: transparent;
  color: black;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  border: 2px solid #000000;
  width: 45px;
  height: 80px;
  padding-bottom: 55px;
  font-size: 18px;
  font-weight: bold;
}
#ui-bottom #hotbar.token-hotbar #action-bar .portrait-wrapper .resource-wide {
  top: -92px;
}
#ui-bottom #hotbar.token-hotbar #action-bar .portrait-wrapper .resource-wide input {
  border-radius: 10px 10px 0 0;
  text-align: center;
  width: 140px;
  height: 90px;
  padding-bottom: 65px;
}
#ui-bottom #hotbar.token-hotbar #action-bar .portrait-wrapper .resource-left input {
  text-indent: 2px;
  width: 70px;
  border-radius: 10px 0 0 0;
  border-right: 1px solid #000000;
}
#ui-bottom #hotbar.token-hotbar #action-bar .portrait-wrapper .resource-right input {
  width: 70px;
  text-align: end;
  left: 70px;
  border-radius: 0 10px 0 0;
  border-left: 1px solid #000000;
}
#ui-bottom #hotbar.token-hotbar #action-bar .portrait-wrapper .resource-left-short input {
  text-indent: 2px;
  border-radius: 10px 0 0 0;
  border-right: 1px solid #000000;
}
#ui-bottom #hotbar.token-hotbar #action-bar .portrait-wrapper .resource-right-short input {
  text-align: end;
  left: 95px;
  border-radius: 0 10px 0 0;
  border-left: 1px solid #000000;
}
#ui-bottom #hotbar.token-hotbar #action-bar .portrait-wrapper .resource-middle {
  top: -92px;
}
#ui-bottom #hotbar.token-hotbar #action-bar .portrait-wrapper .resource-middle input {
  border-radius: 10px 10px 0 0;
  border-left: 1px solid #000000;
  border-right: 1px solid #000000;
  text-align: center;
  left: 45px;
  width: 50px;
  height: 90px;
  padding-bottom: 65px;
}