.pth {
  --font-default: "Signika";
}

#ui-bottom {

  #hotbar {

    #hotbar-controls-left, #hotbar-controls-right {
      height: 100%;
      justify-content: end;
      gap: 0px;

      .button-small {
        font-size: 12px;
        max-width: 22px;
        max-height: 22px;
      }

      .button-wide {
        width: 36px;
        height: 26px;
      }

      .action-buttons, .next-turn {
        height: fit-content;
        display: grid;
        margin-top: auto;

        grid-auto-flow: column;
        grid-template-rows: repeat(3, auto);

        
        direction: rtl;
        transform: rotate(180deg);

        .action-button, .next-turn-button {
          width: 36px;
          height: 36px;
          font-size: 20px;
          background-color: #232324;
          color: #9099b6;
          border-color: #0c1f5e;
          border-width: 2px;
          transform: rotate(180deg);

          &:hover {
            cursor: pointer;
            box-shadow: 0 0 5px 2px #9099b6 inset;
          }
        }
      }

      .next-turn {
        margin-left: 5px;

        .next-turn-button {
          width: 50px;
          height: 50px;
          font-size: 30px;

          &:hover {
            box-shadow: 0 0 8px 3px #9099b6 inset;
          }
        }
      }
    }

    &.token-hotbar {
      height: auto;
      width: max-content;
      opacity: 1;
      transform: none;

      #action-bar {
        width: auto;
        display: flex;
        align-items: flex-end;
        gap: 4px;

        .upper-wrapper {
          display: flex;
          flex-direction: row;
          align-items: end;
          justify-content: space-between;

          width: 100%;
          margin-bottom: 10px;

          &.reverse-direction {
            flex-direction: row-reverse;

            #effects-tracker {
              direction: rtl;
            }

            #help-tracker {
              direction: ltr;
            }

            .letter-circle-icon {

              span, i {
                right: -4px;
              }
            }
          }

          #effects-tracker {
            row-gap: 5px;
            column-gap: 3px;
            margin: 0;
            display: grid;
            grid-auto-flow: row;
          }

          .effect-wrapper {
            color: #dbdbdb !important;

            strong {
              color: #dbdbdb !important;
            }

            ul {
              color: #dbdbdb !important;
            }

            .status-stack {
              position: absolute;
              width: 0px;
              height: 0px;
              z-index: 5;
          
              .letter-circle-icon {
                position: relative;
                width: 0px;
                height: 0px;
          
                span, i {
                  width: 17px;
                  height: 17px;          
                  text-shadow: none;
                  background-color: #ffffff;
                  color: #000000;
                  border: 1px solid #000000;
                  position: relative;
                  top: -6px;
                  left: -4px;
                  padding: 0px;
                }
          
                i {
                  font-size: 12px;
                }

                span {
                  font-weight: 100;
                  font-size: 14px;
                }
              }
            }

            img {
              width: 30px;
              height: 30px;
              border-radius: 5px;
              border: 1px solid #0c1f5e;
              background-color: #232324;

              &.off {
                filter: opacity(0.6);
              }

              &:hover {
                cursor: pointer;
                box-shadow:  0 0 5px 3px #0c1f5e;
              }
            }
          }
        }

        .section-wrapper {
          gap: 3px;
          margin: 0px;
          height: fit-content;
          
          display: grid;
          grid-auto-flow: column;

          .slot {
            width: 50px;
            height: 50px;
            border-radius: 5px;

            img {
              border-radius: 4px;
            }

            &.spell-check {
              border-color: #bd2ed6;
            }

            &.skill-check {
              border-color: #00a329;
            }

            &.martial-attack {
              border-color: #b10000;
            }

            &.spell-attack {
              border-color: #006ec9;
            }

            &:hover {
              border-color: var(--color-warm-1) !important;
            }

            &.filter-out {
              filter: opacity(0.6);
            }

            &.outline img {
              outline-width: 4px;
              outline-offset: -2px;
              outline-color: #ffffffcc;
              outline-style: dashed;
            }
          }

          .right-side-wrapper {
            width: 100%;
            display: flex;
            justify-content: end;
            position: absolute;
          }

          .show-charges, .show-quantity, .slot-keybind, .marker {
            position: absolute;
            background-color: #3b3b3bc2;
          }

          .slot-keybind {
            text-align: center;
            height: 15px;
            min-width: 15px;
            font-size: 13px;
            border-radius: 4px 0 5px 0;
            padding-right: 2px;
          }

          .marker {
            font-size: 10px;
            margin-left: 28px;
            border-radius: 0 4px 0 10px;
            padding: 2px 3px 4px 5px;
          }

          .show-quantity {
            display: flex;
            align-items: center;
            font-size: 12px;
            margin-top: -20px;
            padding: 3px 1px 2px 4px;
            border-radius: 10px 0 4px 0;

            i {
              margin-left: 2px;
              font-size: 10px;
            }
          }

          .show-charges {
            display: flex;
            align-items: center;
            font-size: 12px;
            margin-top: -20px;
            margin-left: 0px;
            padding: 3px 4px 2px 1px;
            border-radius: 0 10px 0 4px;

            i {
              margin-right: 2px;
              font-size: 10px;
            }
          }
        }

        .portrait-wrapper {
          width: 140px;
          height: 150px;
          display: flex;
          align-items: center;
          margin-bottom: 15px;

          .portrait-overlay {
            z-index: 2;
            border: 0;
            width: 100px;
            height: 100px;
            position: absolute;
            margin-left: 20px;
            margin-top: -25px;
            filter: opacity(0.6);
          }

          .portrait {
            z-index: 1;
            border: 2px solid #000000;
            object-position: 50% 0;
            object-fit: cover;
            width: 140px;
            height: 140px;
            border-radius: 50% 50% 5px 5px;
          }

          .resource {
            z-index: 2;
            position: absolute;
            width: 140px;
            bottom: 20px;
            display: flex;
            flex-direction: column;

            .resource-bar-wrapper {
              color: #000000;
              display: grid;
              grid-template-columns: 20px 1fr 20px;
              border: 1px solid #000000;
              border-radius: 4px;
              background-color: #e4e4e4;

              .regain-resource, .spend-resource {
                background-color: transparent;
                width: 20px;
                height: 20px;
                border: 0;
                line-height: 0;
                padding: 0;
                min-height: 20px;
                color: #00a329;

                display: flex;
                align-items: center;
                justify-content: center;
              }
            }

            .resource-bar {
              height: 20px;
              min-height: 20px;
              position: relative;
              border-radius: 4px;
              border: 1px solid #000000;
        
              .resource-content {
                position: absolute;
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;

                .resource-values {
                  display: flex;
                  align-items: center;
          
                  .separator {
                    font-weight: bold;
                    text-align: center;
                    color: black;
                    text-shadow: -1px 0 #ffffff, 0 1px #ffffff, 1px 0 #ffffff, 0 -1px #ffffff;
                  }

                  .bar-input {
                    font-weight: bold;
                    background-color: transparent;
                    color: black;
                    font-size: 16px;
                    text-align: center;
                    border: 0px;
                    text-shadow: -1px 0 #ffffff, 0 1px #ffffff, 1px 0 #ffffff, 0 -1px #ffffff;
                  }
                }  
              }
        
              .health-bar, .health-bar-temp {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                border-radius: 4px;
                background-color: #10d140;
                max-width: 100%;
              }

              .health-bar-temp {
                background-color: #6195b3;
              }
            }

            .above-bar {
              gap: 0;
              margin: 0 32px;
              border: 2px solid #000000;
              border-bottom: 0;
              border-radius: 15px 15px 0 0;
              background-color: #5a5a5ab9;

              .regain-resource, .spend-resource {
                padding-top: 2px;
                display: flex;
                justify-content: center;
                min-height: 20px;
              }

              .temporary-hp {

                .temporary-input {
                  height: 20px;
                  background: transparent;
                  border: 0;
                  font-weight: bold;
                  text-align: center;
                  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
                  color: #d1d1d1;
                  font-size: 18px;
                }

                .temporary-input::placeholder {
                  color: white;
                  font-size: 14px;
                  font-weight: normal;
                }
              }

              .temporary-max, .spend-resource {
                border-left: 1px solid;
              }
            }
          }

          .resource-left-short, .resource-right-short, .resource-middle, .resource-left, .resource-right, .resource-wide {
            position: relative;
            width: 0;
            height: 0;
            top: -80px;

            input {
              position: relative;
              background-color: transparent;
              color: black;
              text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
              border: 2px solid #000000;
              width: 45px;
              height: 80px;
              padding-bottom: 55px;
              font-size: 18px;
              font-weight: bold;
            }

          }

          .resource-wide {
            top: -92px;

            input {
              border-radius: 10px 10px 0 0;
              text-align: center;
              width: 140px;
              height: 90px;
              padding-bottom: 65px;
            }
          }

          .resource-left {

            input {
              text-indent: 2px;
              width: 70px;
              border-radius: 10px 0 0 0;
              border-right: 1px solid #000000;
            }
          }

          .resource-right {

            input {
              width: 70px;
              text-align: end;
              left: 70px;
              border-radius: 0 10px 0 0;
              border-left: 1px solid #000000;
            }
          }

          .resource-left-short {

            input {
              text-indent: 2px;
              border-radius: 10px 0 0 0;
              border-right: 1px solid #000000;
            }
          }

          .resource-right-short {

            input {
              text-align: end;
              left: 95px;
              border-radius: 0 10px 0 0;
              border-left: 1px solid #000000;
            }
          }

          .resource-middle {
            top: -92px;

            input {
              border-radius: 10px 10px 0 0;
              border-left: 1px solid #000000;
              border-right: 1px solid #000000;
              text-align: center;
              left: 45px;
              width: 50px;
              height: 90px;
              padding-bottom: 65px;
            }
          }
        }
      }
    }
  }
}

#roll-dialog {

  .select-wrapper {
    display: flex;

    fieldset {
      gap: 10px;
      max-height: 500px;
      overflow-y: auto;
    }
  }
}