<div id="effects-tracker" style="grid-template-columns: repeat({{effects.rowSize}}, minmax(0, 1fr));">
  {{#each effects.effects}}
  <div class="effect-wrapper">
    <div class="effect">
      <img class="effect-img {{#if disabled}}off{{/if}}" src="{{img}}" data-hover="tooltip" data-effect-id="{{_id}}" data-turn-on="{{disabled}}"/>
    </div>
  </div>
  {{/each}}
</div>